<div class="stage-view user" data-view="user">
  <style scoped>
    .stage-view.settings .content {
      padding: 20px;
    }
  </style>
  <script id="userActions" type="text/x-template">
    <div class="actionbar user">
      <div class="action activable">
        <i class="icon icon-arrow-left" v-on:click.stop="back"></i>
      </div>
      <div class="action">
        <span class="text title">User Profile</span>
      </div>
    </div>
  </script>
  <div class="content">
    <div class="user-card">
      <div class="title" v-text="user.id">
      </div>
      <div class="detail">
        <div class="created">
          <span class="label">Since</span>
          <span class="value" v-text="since"></span>
        </div>
        <div class="karma">
          <span class="label">Karma</span>
          <span class="value" v-text="user.karma"></span>
        </div>
      </div>
      <div class="about" v-html="user.about"></div>
    </div>
  </div>
  <script src="views/user/index.js"></script>
</div>
