<div class="stage-view comments" data-view="comments">
  <script id="commentsActions" type="text/x-template">
    <div class="actionbar comments">
      <div class="action activable">
        <i class="icon icon-arrow-left" v-on:click.stop="back"></i>
      </div>
      <div class="action">
        <span class="text title">Comments</span>
      </div>
    </div>
  </script>
  <div class="content">
    <story-card v-bind:story="story" v-on:action="handleStoryAction"></story-card>
    <div class="story-text" v-html="story.text"></div>

    <div class="comments">
      <hn-comment v-for="comment in comments" 
          v-bind:onaction="handleCommentAction"
          v-bind:key="comment.id" 
          v-bind:comment="comment">
      </hn-comment>
      <!-- div class="comment" v-for="comment in comments">
        <div class="detail">
          <a href="#">{{comment.by}}</a> 
          <span>{{comment.time | timeago}}</span>
          <span v-if="comment.kids"> | {{comment.kids.length}} replies</span>
        </div>
        <div class="text" v-html="comment.text"></div>
      </div -->
    </div>
  </div>
  <script src="views/comments/index.js"></script>
</div>
