<div class="stage-view about" data-view="about">
  <style scoped>
    #about {
      display: block;
      text-align: center;
      width: 60%;
      border: none;
      margin: 30px auto 20px;
    }
  </style>
  <div class="content text-center" v-on:click.stop="goBack">
    <img id="about" src="images/logo.png" alt="Logo" />
    <p class="text-small">Made with &#10084; using Vue &amp; Stagejs</p>
  </div>
  <script>
    (function() {
      var Stage = require("stage"),
          Vue = require("vue");

      Stage.defineView("about", function(stageContext, viewUi) {
        var aboutView,
            data = {};
        return {
          // getActions: function() {return [];},
          initialize: function() {
            var el = viewUi.getElementsByClassName("content")[0];
            aboutView = new Vue({
              el: el,
              data: data,
              methods: {
                goBack: function() {
                  stageContext.popView();
                }
              }
            });
          },
          activate: function(options) {
            console.log(options.fromView, options.data);
          }
        };
      });
    })();
  </script>
</div>
